In [2]:
import numpy as np
import pandas as pd

## Question 1: 
### Given 2 matrices C & D:

In [2]:
C = np.array([1, 5, 7, 8, 9, 11])
D = np.array([30, 60, 80, 19, 6, 4]).reshape(3, 2)

In [5]:
C = (C ** 2).reshape(2, 3)
D = np.matmul(C, D)
sum(D[:,-1])

6594

### Square each entry of C, then reshape C to be a 2x3 matrix. Multiply the new C & D: what is the sum of the elements in the last column of the product? Submit on bCourses

See bCourses for questions 2 & 3

## Question 4:
### Given 2 numpy arrays, E & F:

In [9]:
# DO NOT change this code
import pandas as pd
storage = pd.read_csv('storage.csv')
E = storage['a'].values
F = storage['b'].values

print('E: \n', E)
print('\n')
print('F: \n', F)

E:
 [ 0.18759    -3.06735841 -6.01524185 -6.00493059  4.97719169  2.55905319
  8.64114082 -1.5799068   2.73134519 -0.62920848 -0.52124254  7.08174751
 -0.91394513  8.56333601  2.41014514 -8.29151414 -8.64034168  9.64628425
 -2.01281228  1.74917664 -1.36827861 -6.82207123 -7.48896594 -5.74607695
  2.10675622  0.93067175 -3.42823135 -9.11651521 -3.519439   -2.03393353
  5.12847566  4.74967979 -5.57183807 -5.44652096  2.55765655  3.03552695
  1.22205552 -7.76057239 -4.28559703 -9.36593577]


F:
 [ 2.30753712 -0.94741128 -3.89529472 -3.88498346  7.09713882  4.67900032
 10.76108795  0.54004032  4.85129231  1.49073864  1.59870458  9.20169464
  1.206002   10.68328314  4.53009227 -6.17156701 -6.52039455 11.76623137
  0.10713485  3.86912376  0.75166852 -4.7021241  -5.36901881 -3.62612982
  4.22670335  3.05061887 -1.30828423 -6.99656808 -1.39949187  0.0860136
  7.24842278  6.86962692 -3.45189094 -3.32657383  4.67760367  5.15547407
  3.34200265 -5.64062527 -2.16564991 -7.24598865]

In [6]:
E_mean = np.mean(E)
F_mean = np.mean(F)
cov_EF = np.mean(E*F) - E_mean*F_mean
np.round(cov_EF, decimals=1)

26.9

In [10]:
np.cov(E, F)

array([[27.60467275, 27.60467275],
       [27.60467275, 27.60467275]])

### What is the covariance of E & F? See lecture for how to calculate: https://github.com/ikhlaqsidhu/data-x/blob/master/02-theory-linear-regression/prediction-linear-regression.pdf
#### Round to the nearest decimal point (ex: 5.41 -> 5.4)
*Submit your answer on bCourses*

Questions 5, 6, & 7 on bCourses

# Question 8:
Say we have a dataframe called 'burritos' (data on burrito purchases from a restaurant in a given week).

In [4]:
burritos = pd.read_csv('burritos.csv')
burritos.head()

   Unnamed: 0   server      burrito  count        day
0           0   Erlang  pollo asada      7   Thursday
1           1   Erlang         fish      5     Friday
2           2    Gamma  carne asada      2     Monday
3           3    Gamma      mission      9     Friday
4           4  Poisson       veggie      7  Wednesday

## Group burritos by server and day. How many different kinds of burritos did Hedy serve on Thursday?

In [8]:
Burritos_SerDay = burritos.groupby(['server', 'day']).count()
Burritos_SerDay

                   Unnamed: 0  burrito  count
server  day
Erlang  Friday              5        5      5
        Monday              2        2      2
        Saturday            3        3      3
        Thursday            4        4      4
        Tuesday             4        4      4
        Wednesday           4        4      4
Gamma   Friday              1        1      1
        Monday              2        2      2
        Saturday            4        4      4
        Thursday            2        2      2
        Tuesday             5        5      5
        Wednesday           3        3      3
Gauss   Friday              3        3      3
        Monday              1        1      1
        Saturday            4        4      4
        Thursday            1        1      1
        Tuesday             2        2      2
        Wednesday           1        1      1
Hedy    Friday              2        2      2
        Monday              3        3      3
        Saturday            1        1      1
        Thursday            1        1      1
        Tuesday             3        3      3
        Wednesday           1        1      1
Lamarr  Friday              2        2      2
        Monday              1        1      1
        Saturday            1        1      1
        Thursday            1        1      1
        Tuesday             2        2      2
        Wednesday           2        2      2
Poisson Friday              1        1      1
        Monday              2        2      2
        Saturday            6        6      6
        Thursday            4        4      4
        Tuesday             2        2      2
        Wednesday           1        1      1
Weibull Friday              2        2      2
        Monday              2        2      2
        Saturday            2        2      2
        Thursday            2        2      2
        Tuesday             2        2      2
        Wednesday           3        3      3

In [9]:
Burritos_Hedy = burritos.loc[(burritos['server']== 'Hedy') & (burritos['day']== 'Thursday'), :]
print(len(Burritos_Hedy['burrito'].unique()))
Burritos_Hedy

1

    Unnamed: 0 server burrito  count       day
59          59   Hedy    fish      9  Thursday

# Question 9
## Group burritos by server. What was the sum of the number of burritos that Poisson made?

In [10]:
# Burritos_Ser = burritos.groupby(['server'])['count'].sum()
Burritos_Ser = pd.DataFrame({'count' : burritos.groupby(['server'])['count'].sum()}).reset_index()
Burritos_Ser.loc[Burritos_Ser['server']=='Poisson',:]['count'].values[0]

80

# Question 10
## What day had the largest number of burritos made?

In [11]:
Burritos_Day = pd.DataFrame({'count' : burritos.groupby(['day'])['count'].sum()}).reset_index()
Burritos_Day.loc[Burritos_Day['count'] == max(Burritos_Day.loc[:,'count']),:]['day'].values[0]

'Saturday'